@import '~src/app/styles/shared';

.button {
  @extend .animate;
  display: flex;
  align-items: center;
  height: 48px;
  background-color: $color-primary;
  color: $color-white;
  border-radius: $radius;
  padding-left: 14px;
  padding-right: 14px;

  &:disabled {
    opacity: 0.6;
    cursor: default;
  }
}

@media (min-width: map-get($breakpoints, lg)) {
  .button {
    padding-left: 36px;
    padding-right: 36px;
  }
}
