@import '~src/app/styles/app';

.form-group {
  width: 100%;
  position: relative;
  margin-bottom: 16px;

  label {
    display: block;
    color: rgba($color: $color-secondary, $alpha: 0.6);
  }

  input {
    @extend .main-input;
  }

  .icon {
    position: absolute;
    left: 16px;
    bottom: 14px;
  }
}
