@import '~src/app/styles/shared';

.order-toggler {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-white;
  border: 1px solid $color-grayish;
  width: 100%;
  height: 48px;
  text-transform: uppercase;
  border-radius: $radius;
  @extend .animate;

  .icon {
    @extend .animate;

    &.toggle {
      transform: rotate(180deg);
    }
  }
}
