<app-modal [isOpen]="isModalOpen" header="View User" (onClose)="navigateBack()">
  <!-- Show loading spinner while data gets fetched -->
  <div *ngIf="isLoading; else content" class="spinner-wrapper">
    <app-spinner></app-spinner>
  </div>

  <ng-template #content>
    <form *ngIf="!isLoading" class="main-form">
      <div class="form-groups mb-2">
        <img class="user-img" [src]="user.avatar" [alt]="user.first_name" />

        <!-- Form groups -->
        <div class="form-group" *ngFor="let group of formGroups">
          <label class="fs-20 lh-28 fw-600 mb-1">{{ group.label }}</label>
          <div class="input-wrapper">
            <input
              class="fs-16 lh-16 fw-600 shadow"
              [type]="group.type"
              [name]="group.name"
              [placeholder]="group.placeholder"
              [(ngModel)]="group.value"
              #group="ngModel"
              [email]="group.type === 'email'"
              disabled
              required
            />
            <span class="icon icon-user square-20"></span>
          </div>
        </div>
      </div>
    </form>
  </ng-template>
</app-modal>
