@import '~src/app/styles/app';

.backdrop {
  position: absolute;
  background: rgba($color: $color-black, $alpha: 0.5);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.modal {
  @extend .animate;
  position: fixed;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, 100%);
  z-index: 10;
  background-color: $color-white;
  border-radius: 20px;
  width: 90%;
  padding: 24px 16px 48px 16px;

  &.open {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &.close {
    opacity: 0;
    transform: translate(-50%, -100%);
  }

  &-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      text-transform: uppercase;

      span {
        color: $color-primary;
      }
    }

    .icon-btn {
      position: static;
      width: 56px;
      height: 56px;
    }
  }

  &-content {
    margin-top: 48px;
  }
}

@media (min-width: map-get($breakpoints, lg)) {
  .modal {
    width: 50%;
    padding: 32px 32px 64px 32px;
  }
}
