<div *ngIf="isOpen" class="backdrop" (click)="onModalClose()"></div>

<section [ngClass]="{ open: isOpen, close: !isOpen }" class="modal shadow-big">
  <div class="modal-header">
    <h1 class="fs-36 lh-36 fw-700">
      {{ header.split(' ')[0] }} <span>{{ header.split(' ')[1] }}</span>
    </h1>

    <button type="button" class="icon-btn" (click)="onModalClose()">
      <span class="icon icon-close square-32"></span>
    </button>
  </div>

  <div class="modal-content">
    <ng-content></ng-content>
  </div>
</section>
