<div *ngIf="open" class="backdrop" (click)="onModalClose()"></div>

<section [ngClass]="{ open: open, close: !open }" class="modal shadow-big">
  <div class="modal-header">
    <h1 class="fs-lg-36 lh-lg-36 fs-28 lh-28 fw-700">
      {{ header.split(' ')[0] }} <span>{{ header.split(' ')[1] }}</span>
    </h1>

    <button type="button" class="icon-btn" (click)="onModalClose()">
      <span class="icon icon-close square-32"></span>
    </button>
  </div>

  <div class="modal-content">
    <ng-content></ng-content>
  </div>
</section>
