@import '~src/app/styles/app';

.dropdown {
  position: relative;

  &-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $color-white;
    border: 1px solid $color-grayish;
    width: 100%;
    height: 48px;
    border-radius: $radius;
  }

  &-menu {
    @extend .menu;
    transform-origin: top;
  }
}
