@import '~src/app/styles/app';

.search-bar {
  display: block;
  position: relative;

  input {
    @extend .main-input;
  }

  .icon-search {
    position: absolute;
    left: 16px;
  }

  .close-btn {
    right: 8px;
    // Hide button
    @extend .hide;

    &.active {
      @extend .show;
    }
  }
}
