@import '~src/app/styles/app';

.search-bar {
  display: block;
  position: relative;

  input {
    display: flex;
    align-items: center;
    width: 100%;
    height: 48px;
    border: 1px solid $color-grayish;
    border-radius: $radius;
    padding-left: 52px;
    padding-right: 52px;

    &::placeholder {
      color: rgba($color: $color-secondary, $alpha: 0.4);
    }
  }

  .icon-search {
    position: absolute;
    left: 16px;
  }

  .close-btn {
    right: 8px;
    // Hide button
    @extend .hide;

    &.active {
      @extend .show;
    }
  }
}
