<section class="user-card shadow-big" (clickOutside)="onClickedOutside()">
  <img [src]="user.avatar" alt="Name" />

  <div class="user-info">
    <h2 class="fs-24 lh-36 fw-700">
      {{ user.first_name }} {{ user.last_name }}
    </h2>
    <p class="fs-16 lh-24 fw-600">{{ user.email }}</p>
  </div>

  <!-- Actions button -->
  <button class="icon-btn" (click)="toggleMenu()">
    <span class="icon icon-more square-24"></span>
  </button>

  <!-- Actions Menu -->
  <div [ngClass]="{ open: isMenuOpen }" class="actions-menu shadow mt-2">
    <button
      class="item fs-16 lh-16 fw-600"
      *ngFor="let item of menuItems"
      (click)="onPerformAction(item)"
    >
      <span [ngClass]="'icon-' + item" class="icon square-20 mr-2"></span>
      <span>{{ item }}</span>
    </button>
  </div>
</section>
